.qodo

# Node.js dependencies
node_modules/
package-lock.json

# Mac system files
.DS_Store

# VS Code settings
.vscode/

# Logs
logs
*.log
npm-debug.log*

# Reports
*.pdf

# Temporary files
*.tmp
*.swp

# Runtime output
dist/
build/

# dotenv
.env
